body,h1,h2,h3,h4,h5,h6,p,a,img,input,ul,li,ol,dl,dt,dd,figure,figcaption{ padding:0; margin:0;}
ul,ol{ list-style:none;}
img{ display:block; border:0;}
input{ outline:none}

body{ font-size:16px; font-family:"微软雅黑"; color:#333; max-width: 640px; margin: 0 auto; min-width: 320px; background-color:#fff}

a{ text-decoration:none; color:#909090;}

header,footer,nav,section,aside,article,main,figure,figcaption{ display:block}

html,body{ height:100%}

body{ margin: 0 auto}


